:root {
  --main-color: rgb(106, 106, 211);
  --black: #1e1e1e;
  --white: rgba(252, 252, 252, 0.877);
  --light-black: rgb(41, 41, 41);
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.1);
  --dark-blue: #06071d;
  --light-bg: rgba(255, 255, 255, 0.8);
  --border: 1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  text-decoration: none;
}

@font-face {
  font-family: "Gumela";
  src: url("../assets/fonts/Gumela Regular.otf");
}

html {
  width: 100%;
}

body {
  font-family: "Gumela";
  margin: 0;
  padding: 0;
  background: #cdcfee;
  overflow-x: hidden;
}

.nav-link {
  text-decoration: none;
  color: rgb(252, 251, 255);
  transition: 300ms;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20rem;
  border: 1px solid var(--white);
}

section {
  padding: 5rem 10%;
}

.hide {
  display: none;
}

.heading {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: var(--text-shadow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--black);
  color: var(--white);
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10rem;
}

.btn:hover {
  background: var(--main-color);
}

.heading-title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--black);
}

.header {
  opacity: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--white);
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2.2rem;
  color: var(--main-color);
}

.header .navbar a {
  font-size: 1.2rem;
  margin-left: 2rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--main-color);
}

#menu-btn {
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--black);
  transition: 300ms;
  display: none;
}

#menu-btn:hover {
  color: var(--main-color);
}

.home {
  padding: 0;
}

.home .slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 90vh;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.home .slide .content span {
  display: block;
  font-size: 2rem;
  color: var(--light-white);
  padding-bottom: 1rem;
  animation: fadeIn 0.4s linear backwards;
}

.home .slide .content h3 {
  font-size: 5vw;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: var(--text-shadow);
  padding: 1rem 0;
  animation: fadeIn 0.4s linear backwards;
  margin: 1rem;
}

.home .slide .content .btn {
  animation: fadeIn 0.6s linear backwards;
}

.home .swiper-button-prev {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 7rem;
  height: 7rem;
  width: 7rem;
  background: var(--white);
  color: var(--black);
  border-right: solid var(--main-color) 4px;
  transition: 0.2s ease-in;
}

.home .swiper-button-next {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
  height: 7rem;
  width: 7rem;
  background: var(--white);
  color: var(--black);
  border-left: solid var(--main-color) 4px;
  transition: 0.2s ease-in;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--main-color);
  color: var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes moveRight {
  0% {
    transform: translate(-30%);
  }
}

.fadeIn {
  animation: fadeIn 1s linear backwards 1;
}

.moveRight {
  transition: 1s ease-in-out;
  animation: moveRight 1s linear forwards 1;
}

/* Services */

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}
.services .box-container .box:hover {
  background: var(--black);
}

.services .box-container .box img {
  height: 5rem;
}

.services .box-container .box h3 {
  color: var(--white);
  font-size: 1.2rem;
  padding-top: 1rem;
}

/* Home About */

.home-about {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

.home-about .image {
  flex: 1 1 41rem;
}

.home-about .image img {
  width: 45vw;
  border-radius: 4rem;
  transition: 0.3s;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 1.5rem;
  background: var(--light-bg);
  border-bottom-right-radius: 4rem;
  border-top-right-radius: 4rem;
}

.home-about .content h3 {
  font-size: 2rem;
  margin: 2px;
  color: var(--black);
}

.home-about .content p {
  font-size: 15px;
  line-height: 2rem;
}

.home-about .content .btn {
  font-size: 1rem;
}

/* Home Packages */

.home-packages {
  background: var(--light-bg);
  padding: 2rem;
}

.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.home-packages .box-container .box {
  border: 3px solid var(--black);
  background: rgba(255, 255, 255, 0.747);
  box-shadow: var(--box-shadow);
  border-radius: 4rem;
  overflow: hidden;
}

.home-packages .box-container .box .image {
  height: 17rem;
  overflow: hidden;
}

.home-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.home-packages .box-container .box .image img:hover {
  transform: scale(1.1);
}

.home-packages .box-container .box .content {
  padding: 1.5rem;
  text-align: center;
}

.home-packages .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.home-packages .box-container .box .content p {
  font-size: 1rem;
  color: var(--light-black);
}

.home-packages .box-container .box .content .btn {
  font-size: 1rem;
}

.home-packages .load-more {
  text-align: center;
  align-self: center;
  margin-top: 2rem;
}

.home-offer {
  text-align: center;
}

.home-offer .content {
  max-width: 50rem;
  margin: 0 auto;
}

.home-offer .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.home-offer .content p {
  font-size: 1.4rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

/* About */
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0;
}

.about .image {
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .image img {
  height: 100%;
  width: 100%;
  filter: brightness(50%);
}

.about .image h3 {
  position: absolute;
  left: 20%;
  top: 10%;
  font-size: 8rem;
  color: white;
}

.about .content {
  flex: 1 1 41rem;
  text-align: center;
}

.about .content p {
  font-size: 1.2rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 7rem;
}

.about .content .icons-container {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.about .content .icons-container .icons {
  background: var(--dark-bg);
  padding: 2rem;
  border-radius: 50%;
  width: 10rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.about .content .icons-container .icons:hover {
  background: var(--main-color);
}

.about .content .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}
.about .content .icons-container .icons:hover i {
  color: white;
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--light-black);
  display: block;
  transition: 0.3s ease-in-out;
}
.about .content .icons-container .icons:hover span {
  color: white;
}

/* Reviews */

.reviews {
  background: var(--light-bg);
  margin-bottom: 3rem;
}

.reviews > h3 {
  text-align: center;
  font-size: 3rem;
}

.reviews-slider .slide {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews .stars {
  color: var(--main-color);
}

.reviews .reviews-slider .swiper-wrapper {
  padding: 2rem;
}

.reviews .slide {
  padding: 10px;
  border: 2px solid var(--main-color);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.reviews .slide img {
  border-radius: 50%;
  width: 10rem;
}

/* Packages */

.packages {
  padding: 3rem;
  background: white;
}

.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}

.packages .box-container .box {
  border: 3px solid var(--black);
  background: rgba(255, 255, 255, 0.747);
  box-shadow: var(--box-shadow);
  border-radius: 4rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
  display: inline-block;
}

.packages .box-container .box:hover {
  border-color: var(--main-color);
}

.packages .box-container .box:hover .content h3 {
  color: var(--main-color);
}

.packages .box-container .box .image {
  height: 17rem;
  overflow: hidden;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.packages .box-container .box:hover .image img {
  scale: 1.1;
}

.packages .box-container .box .content {
  padding: 1.5rem;
  text-align: center;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
  transition: 0.2s ease-in-out;
}

.packages .box-container .box .content p {
  font-size: 1rem;
  color: var(--light-black);
}

.packages .box-container .box .content .btn {
  font-size: 1rem;
}

.packages .load-more {
  text-align: center;
  align-self: center;
  margin-top: 2rem;
}

/* ============================= Booking ============================== */
.custom-shape-divider-top-1669996122 {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669996122 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 180px;
}

.custom-shape-divider-top-1669996122 .shape-fill {
  fill: #ffffff;
}
/* `````````````` Bolb ``````````````` */
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #877fb4;
  width: 50vmax;
  z-index: -1;
  animation: move 30s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

.booking .book-form {
  padding: 2rem;
  background: var(--light-bg);
}

.booking .book-form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.booking .book-form .flex .inputBox {
  flex: 1 1 30rem;
}

.booking .book-form .flex .inputBox input {
  width: 90%;
  background: rgb(245 245 252);
  padding: 1.2rem 1.4rem;
  border: none;
  border-bottom: 1px solid var(--light-black);
  outline: none;
  font-size: 1rem;
  color: var(--light-black);
  transition: 0.2s;
}

.booking .book-form .flex .inputBox input:focus {
  color: var(--white);
  background: var(--black);
}

.booking .book-form .flex .inputBox input:focus::placeholder {
  color: var(--light-white);
}

/* ================================ Footer =============================== */

.footer {
  z-index: 1;
  color: aliceblue;
  /* background: linear-gradient(15deg, #090c36, #262d8f); */
  /* background: linear-gradient(15deg, var(--dark-blue), rgb(9, 0, 41)); */
  padding: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("../assets/images/footer.jpg");

  /* border-top-right-radius: 5rem; */
  /* border-top-left-radius: 5rem; */
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: rgb(196, 196, 221);
}

.footer .box-container .box a {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  display: block;
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: 0.3rem;
  transition: 0.2s ease-in-out;
}

.footer .box-container .box a:hover {
  color: var(--main-color);
  /* transform: translate(1rem); */
}

.footer .box-container .box a:hover i {
  padding-right: 1rem;
}

.footer .credit {
  text-align: center;
  padding-top: 2rem;
  margin: 3rem 3rem 0 3rem;
  border-top: 0.1rem solid var(--light-white);
  color: var(--white);
  font-size: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

@media screen and (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 80%;
  }

  section {
    padding: 3rem 1.5rem;
  }

  .home .slide .content h3 {
    font-size: 9vw;
  }
}

@media screen and (max-width: 768px) {
  .heading h1 {
    font-size: 5rem;
  }
  .about .image h3 {
    font-size: 4rem;
  }

  .curve {
    display: none;
  }
  #menu-btn {
    display: inline;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .footer .box-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  .footer .box-container .box {
    align-items: center;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: 1rem rgb(93, 55, 165) solid;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
    background-color: rgb(147, 147, 211);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar.active a {
    transform: translate(0);
  }

  .header .navbar a {
    transform: translate(-20%);
    display: block;
    margin: 2rem;
    text-align: center;
    color: white;
  }
  .header .navbar a:nth-child(1) {
    transition: 0.5s linear;
  }
  .header .navbar a:nth-child(2) {
    transition: 0.4s linear;
  }
  .header .navbar a:nth-child(3) {
    transition: 0.3s linear;
  }
  .header .navbar a:nth-child(4) {
    transition: 0.2s linear;
  }
  .home-about {
    flex-wrap: wrap;
  }
  .home-about .image img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .home-about .content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4rem;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 80%;
  }
  .about .image h3 {
    font-size: 3rem;
  }
  .footer .box-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
  .footer .box-container .box {
    align-items: center;
  }

  .footer .credit {
    line-height: 2.5rem;
  }

  .heading-title {
    font-size: 3rem;
  }
}

/* Animation when visible of Viewport */

.hidden {
  opacity: 0;
  transition: all 1s;
  /* transform: translate(-20%); */
}

.show {
  opacity: 1;
  /* transform: none; */
  transition: 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
